.myButton {
    font-family: var(--font);
    border: 1px solid rgb(51, 60, 70);
    padding: 8px 10px;
    font-size: 14px;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--background-color);
    border-radius: 8px;
}

.myButton:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
}